<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>popover</ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="mostrarPop( $event )" >
        <ion-icon slot="icon-only" name="body"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button (click)="mostrarPop( $event )" expand="full">
    <ion-icon slot="icon-only" name="body"></ion-icon>
  </ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="mostrarPop( $event )" >
        <ion-icon color="secondary" slot="icon-only" name="body"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>